body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.seccion1{
    width: 50%;
    background-color: yellowgreen;
    padding: 20px;
}

.seccion2{
    width: 50%;
    background-color: violet;
    padding: 20px;
}