header{
    background-color: yellow;
    padding: 5px 10px 15px 20px;
    border: 3px solid darkblue;
    border-radius: 4px;
    margin: 15px;
    text-align: center;
}

nav {
    background-color: yellow;
    padding: 5px 10px 15px 20px;
    border: 3px solid darkblue;
    border-radius: 4px;
    text-align: center;
}

section{
    background-color: yellow;
    padding: 5px 10px 15px 20px;
    border: 3px solid darkblue;
    border-radius: 4px;
    text-align: center;
}

aside{
    background-color: yellow;
    padding: 5px 10px 15px 20px;
    border: 3px solid darkblue;
    border-radius: 4px;
    margin: 15px;
    text-align: center;
}

footer{
    background-color: yellow;
    padding: 5px 10px 15px 20px;
    border: 3px solid darkblue;
    border-radius: 4px;
    margin: 15px;
    text-align: center;
}