.box-effects{
    width: 300px;
    height: 150px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.2);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #FFA500;
    margin: 100px;
}

.texto4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}