@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
}
iframe {
    width: 100%;
    height: 100%;
}

.container {
    background: #17191D;
    width: 100%;
    min-height: 100vh;
}
.conten {
    padding: 3rem 9% ;
    background: linear-gradient(90deg,rgb(34, 36, 41), rgba(34, 36, 41, 0.5)), url("https://i.pinimg.com/originals/d1/3b/d0/d13bd076116d0ee6789ffae197a7336f.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.conten h1 {
    font-weight: 400;
    font-size: 2.3rem;
    color: #d8d8d8;
}
.conten p {
    max-width: 45rem;
    color: #d8d8d8;
    font-size: 1rem;
    margin: .5rem 0;
    letter-spacing: .02rem;
    font-weight: 300;    
}
.btn {
    display: inline-block;
    background: #8a269e;
    border-radius: .2rem;
    padding: .4rem 3rem;
    color: #d8d8d8;
    margin-top: .5rem;
    font-size: 1rem;
    box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.2);
}
.btn:hover {
    background: #6a187a;
}

.title1 {
    padding: 1rem 9% ;
    color: #d8d8d8;
    font-weight: 300;
    font-size: 1.5rem;}
.video{ 
    border: 0.12rem solid #d8d8d8;
}
.contvideos {
    padding: 0 9% ;
    margin: auto;    
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
}
.grupo2 {
    background: #222429;
}